// 100 - Thin
// 200 - Extra Light (Ultra Light)
// 300 - Light (Book)
// 400 - Normal
// 500 - Medium
// 600 - Semi Bold (Demi Bold)
// 700 - Bold
// 800 - Extra Bold (Ultra Bold)
// 900 - Black (Heavy)
@charset "UTF-8";

$fonts: (
  'big': "'Big Caslon', serif",
  'montserrat': "'Montserrat', sans-serif",
  'butler': "'Butler', sans-serif",
);

//Mixins de Google Fonts basadas en array $fonts.
//Ex: @include font('raleway','bold');
@mixin font($fontkey, $type: 'regular') {
  @if map-has-key($fonts, $fontkey) {
    $font: map-get($fonts, $fontkey);

    font-family: #{$font};

    @if $type == heavy {
      font-weight: 900;
    } @else if $type == bold {
      font-weight: 700;
    } @else if $type == medium {
      font-weight: 500;
    } @else if $type == light {
      font-weight: 300;
    } @else {
      font-weight: 400;
    }
  } @else {
    @warn "Unknown `#{$fontkey}` in $fonts.";
  }
}

/*@font-face {
  font-family: 'Big Caslon';
  src: url('../fonts/bigcaslon/BigCaslon-Medium.eot');
  src: url('../fonts/bigcaslon/BigCaslon-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/bigcaslon/BigCaslon-Medium.woff2') format('woff2'),
    url('../fonts/bigcaslon/BigCaslon-Medium.woff') format('woff'),
    url('../fonts/bigcaslon/BigCaslon-Medium.ttf') format('truetype'),
    url('../fonts/bigcaslon/BigCaslon-Medium.svg#droidserif') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Butler';
  src: url('../fonts/butler/ButlerStencil-Black.eot');
  src: url('../fonts/butler/ButlerStencil-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/butler/ButlerStencil-Black.woff2') format('woff2'),
    url('../fonts/butler/ButlerStencil-Black.woff') format('woff'),
    url('../fonts/butler/ButlerStencil-Black.ttf') format('truetype'),
    url('../fonts/butler/ButlerStencil-Black.svg#droidserif') format('svg');
  font-weight: normal;
  font-style: normal;
}*/