* {
}

body,
html {
}

html {
  font-size: (100/1280) * 16 * 1vw;
}

body {
  padding-top: 0;
  font-size: 1em;
}
main {
}
a {
}
img {
}
.page-wrapper{
  padding-top: 0;
  background-image: url('../img/bg-bottom.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center bottom;
  &__background{
  	&--top{
  		z-index: -99999;
  	}
  }
}