* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  outline: none;
  -webkit-overflow-scrolling: touch;
  //@include font('quick');
}

body,
html {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
}

html {
  font-size: (100/375) * 16 * 1vw;
}

body {
}
main {
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  vertical-align: top;
}
.wrapper{
  width: 100%;
  height: 100%;
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
