.wrapper{
  pointer-events: none;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  transition: background-image 3s ease;
  &__area{
    width: 30vw;
    height: 30vw;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    cursor: none !important;
    box-shadow: inset 0px 0px 40px 40px #fff;
    border-radius: 50%;
    opacity: .3;
    pointer-events: all;
  }
  &__cursor{
    width: 40px;
    height: 40px;
    transform: scale(0);
    opacity: 0;
    z-index: -1;
    .cursor{
      width: 100%;
      height: 100%;
      pointer-events: none;
      background: url('../img/cursorDead.svg') center center no-repeat;
    }
  }
  &.blackmoon{
    transition: background-image 3s ease;
    background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
    background-blend-mode: normal, lighten, soft-light;
  }
}

@include medium {
  @import 'medium';
}
@include large {
  @import 'large';
}
@include xlarge {
  @import 'xlarge';
}
